html{
    position: relative;
}
body{
    margin-bottom: 70px;
    margin-top:35px;
}

.jumbotron{
    height:410px;
    background-image: url('img/bg\ undercover.jpg');
    background-attachment: fixed;
    color:#eee;
    background-size: cover;
    background-position: 0 -30px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.jumbotron img{
    width : 220px;
    border : 5px solid #eaeaea;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
    width : 250px;
    border-top: 3px solid #999;
}
section{
    min-height: 600px;
}
.awalab, .akhirab{
    opacity: 0;
    transition:1.2s;
    -webkit-transition:1.2s;
    -moz-transition:1.2s;
    -ms-transition:1.2s;
    -o-transition:1.2s;
}
.awalab{
    transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
}
.akhirab{
    transform:translate(100px, 0);
    -webkit-transform:translate(100px, 0);
    -moz-transform:translate(100px, 0);
    -ms-transform:translate(100px, 0);
    -o-transform:translate(100px, 0);
}

.about .awalab.kiri{
    opacity: 1;
    transform:translate(0,0);
    -webkit-transform:translate(0,0);
    -moz-transform:translate(0,0);
    -ms-transform:translate(0,0);
    -o-transform:translate(0,0);
}
.about .akhirab.kanan{
    opacity: 1;
    transform:translate(0,0);
    -webkit-transform:translate(0,0);
    -moz-transform:translate(0,0);
    -ms-transform:translate(0,0);
    -o-transform:translate(0,0);
}

.portfolio{
    background-color: #eee;
}

.portfolio .thumbnail{
    opacity: 0;
    transform: translate(0, -50px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
}

.portfolio .thumbnail.efect{
    opacity: 1;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
}

.contact{
    min-height:700px;
}

.getcontact{
    opacity:0;
    transition:1.2s;
    transform:translate(-150px,0);
    -webkit-transition:1.2s;
    -moz-transition:1.2s;
    -ms-transition:1.2s;
    -o-transition:1.2s;
    -webkit-transform:translate(-150px,0);
    -moz-transform:translate(-150px,0);
    -ms-transform:translate(-150px,0);
    -o-transform:translate(-150px,0);
}

.tampilcon{
    opacity:1;
    transform:translate(0,0);
    -webkit-transform:translate(0,0);
    -moz-transform:translate(0,0);
    -ms-transform:translate(0,0);
    -o-transform:translate(0,0);
}

footer{
    position:absolute;
    width:100%;
    bottom: 0;
    height: 70px;
    background-color: #333 ;
    padding:25px;
}
footer p{
    color: #aaa;
    font-size:1em;
}
footer p i{
    color:salmon;
}